
/* Your CSS Code here. */
.holder{
	display: flex;
	justify-content: space-between;
	flex-wrap:wrap;
}
.item {
    width: 120px;
    height: 120px;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.item:nth-child(1) { background: green; }
.item:nth-child(2) { background: red; }
.item:nth-child(3) { background: blue;}